@charset "UTF-8";

#header{
	top: 0px;
	left:0px;
	margin:0;
}
#sidebar{
	position: absolute;
	top: 280px;
	left:0px;
	width:240px;
	color:black;
	background:white;
}
#main{
	position:absolute;
	top:280px;
	left:150px;
	width:950px;
	background:white;
	color:black;	
}
