#ronri-title{
    background-color: aqua;
    text-align: center;
}
body{
    text-align: center;
}
.choices:hover {
	background-color: aqua;
}
#choice-1{
    background-color: violet;
}
#choice-2{
    background-color: violet;
}
#choice-3{
    background-color: violet;
}
#choice-4{
    background-color: violet;
}
#canvas-seat{
    position: relative;
    width:1000px;
    height:750px;
    border:2px solid black;
}
#kairo-1{
    width:100px;
    height:100px;
    border:2px solid black;
    position: relative;
    top:100px;
    left:-300px;
}
